<div>
    <p>
        {{edit.title}}
    </p> 
    <input id='editTitle'>
    <p>
        {{edit.description}}
    </p>
    <textarea id='editDesc'> </textarea>

    <button id="editBtn" data-id="{{post.id}}">Submit</button>
   
</div>

<script src='/js/edit.js'></script>

<script src = "./js/edit.js"></script>